

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #header {    
            position: relative;
            width: 100%;
            background-color: black;
            height: 100px;
        }
    </style>
</head>
<body>
    <div id="header">
<div class="section header_section">

    <div class="header_logo">
엘ㄹ렐레
    </div>
    <div></div>
</div>
    </div>
    
</body>
</html>